<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="navdiv">
    <nav>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/sendmail">Sending Mails</a></li>
        <li><a href="#">Profil Pic</a></li>
      </ul>
    </nav>
    <div class="time">Server Time <span id="time"></span></div>
  </div>
  <br>
  <div class="box">
    <form action="#" id="send">
      <input type="file" id="avtar" name="upload" />
      <button id="submitpic"> send</button>
    </form>
  </div>
</body>
<script src="./pic.js"></script>

</html>