<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="post.css">
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <div class="navdiv">
    <nav>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/sendmail">Sending Mails</a></li>
        <li><a href="/image">Profil Pic</a></li>
      </ul>
    </nav>
    <div class="time">Server Time <span id="time"></span></div>

  </div>

<br>

<div class="post">
  <h1></h1>
<br><br>

  <img src="" alt="">
<br><br>

  <p></p>
</div>



</body>
<script src="post.js"></script>
</html>